
section {
    font-family: 'Yusei Magic', sans-serif;
    min-height: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columns */
    grid-template-rows: 106px auto; /* 3 rows */
    height: 100%;
    
    background:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,1.2)), url("../../../assets/images/header/woodBackground.jpg");
    background-size: 100% 100%; 
}

section > * {
    border: 1px solid darkgray;
    border-radius: 10px;
}


header {
    grid-column: span 12;
    justify-content: bottom;
    /* background-color: white; */
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columns */
    grid-template-rows: 100%  ; 
}

aside {
    grid-column: span 3;
} 

main {
    grid-column: span 9;   
}

/* =================HEADER==================== */


#headerAside {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.searchIcon{
    font-size: 30px;
}

#headerMain {
    grid-column: span 10; 
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;

}

#headerSideBarButtonDiv{
    position: absolute;
    top: 178px;
}


/* =================ASIDE==================== */


#menu{
    margin-top: 20px;
    padding-bottom: 80px;

}

.menuRow{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    
}

.img{
    display: block;
    height: 90px;
    margin-left: auto;
    margin-right: 10px;
}

h3{
    margin: 3px;
    padding: 0px;
}

span{
    font-size: 15px;
    font-weight: lighter;
}


#orderSumContainer{

    bottom: 50px;
    background-color: white;
    width: 200px;
    border: black solid 1px;
    border-radius: 5px;
}

/* =================MAIN==================== */



.orderContainer {
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 10px;


    
}

.orderContainer > form{
    
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
    font-size: 20px;
    height: 100%;

}

.orderContainer > p{
    
    margin-top: 10px;
    font-size: 15px;


}

mat-form-field{
    padding: 10px;
}


.submitButton{
    border: white solid 1px;
    border-radius: 10px;
    font-size: 20px;
    background-image: url("../../../assets/images/header/woodBackground.jpg");
    background-size: 100% 100%;
}

.inputErrorMessage{
    font-size: 15px;
    color: red;
}

.title{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: black 1px solid;
}

.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }

  ::ng-deep.occuppied-date {
    background-color: red;
    border-radius: 100%;

 }

 .symbols{
     font-size: 25px;
     vertical-align: middle;
 }
 

