


<section>

    

    <!-- ===================Admin Header================== -->
    <header>

        <!-------Search Product------ -->
        <div id="headerAside">
            <mat-form-field (keyup.enter)="this.onClickSearch()">
                <mat-label>Search Product:</mat-label>
                <input matInput type="text" name="nameFilter" [(ngModel)]="searchKeyword"/>
            </mat-form-field>
            <button mat-raised-button type="button" (click)="this.onClickSearch()" >Search</button>
        </div>

        <!-------Search Product------ -->
        <div id="headerMain">
            <button mat-raised-button type="button" *ngFor="let category of productsService.productCategories" class="categoryCard" (click)="this.onClickCategory(category)">
                <span>{{category.name}} </span>
            </button>
            <button mat-raised-button type="button" class="categoryCard" (click)="this.getAllProducts()">All Products</button>


            <!-------Toggle Product Manager Button------ -->
            <button type="button" mat-button (click)="this.onClickToggleProductManager()" id="headerSideBarButtonDiv" *ngIf="!this.isCartOpen">
                Open Product Manager
                <span class="material-icons">
                    shopping_cart
                </span>
            </button>
            
        </div>


       

    </header>


    <!-- =================Admin Main================== -->

    <main>     
        
           
        <mat-drawer-container class="container" autosize>


                    <!-- ======================Shop Aside - Product Manager =============== -->


                <mat-drawer #drawer class="sidenav" mode="side" [(opened)]="isCartOpen">

                    <!-- -----Close Product Manager Button----- -->

                    <button class="cartCloseButton" (click)="this.onClickToggleProductManager()" mat-raised-button >
                        <span>Minimize</span>
                        <span type="button" class="material-icons" >
                            close_fullscreen
                        </span>
                    </button>

                    <!-- ================Shop Main -  Products================= -->

                    <div role="button" *ngIf="selectedProduct==undefined || selectedProduct==null">
                        <h1 class="emptyCartText"> No Product Selected</h1>
                        <h3 class="emptyCartSubText">Select A Product Or Add New Product</h3>
                        <button mat-raised-button (click)="onClickAddNewProduct()" >Add New Product</button>

                    </div>


                    <app-product-manager *ngIf="selectedProduct" class="productManager" [selectedProduct]="selectedProduct" >

                    </app-product-manager>

                </mat-drawer>
          
                <!-- -----Products Main Section----- -->

                <div class="sidenav-content" class="mainDiv">

                    <div *ngFor="let product of productsService.productsArray"  class="cardDiv grow" (click)="onClickProduct(product)">

                        <h3>{{product.name}}</h3>
                        <h3>{{product.price}}$</h3>
                        <img class="img-responsive cardImg" src="http://localhost:3001/{{product.imageURL}}">

                    </div>

                </div>

          </mat-drawer-container>

          

    </main>

</section>

