<div class="container">
    <h1>Your Order Was Submitted Succesfully!</h1>
    <h3>We would Love To See You Again</h3>
    <img class="img-responsive heart" src="../../../assets/images/order/heart.png">

    <br>

    <h3>To Download Your Receipt Please  <span role="button" class="downloadText" (click)="this.onClickReceipt()"><u>Press Here</u></span></h3>
    
    <a routerLink="/customer" routerLinkActive="active" class="button"> Take Me Back To Shop!
    
    <span class="material-icons smile">
        insert_emoticon
    </span>
    
    </a>
    
    
</div>
